* {
    padding: 0;
    margin: 0;
    font-size: 14px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(18, 18, 18);
    color: white
}

header {
    width: 100%;
    height: auto;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

main {
    width: 100%;
    height: auto;
}

a, a:visited, a:link, a:active{
    text-decoration: none;
    color: white;
}

/* Tab de la app */

.tab {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 13px;
}

#fecha {
    font-weight: 200;
    font-size: 0.95rem;
    width: 50%;
    vertical-align:middle;
}

#localidad {
    font-weight: bold;
    width: 50%;
    vertical-align: middle;
}

hr {
    border-style: none;
    border-bottom: 1px solid white;
    width: 92%;
    margin: 0 auto;
}

/* Primera fila */

.grados {
    font-weight: lighter;
}

.current {
    width: 92%;
    height: 101px;
    margin: 20px auto;
    text-align: center;
}

.current-child {
    position: relative;
    vertical-align: top;
    display: inline-block;
    background-color: rgba(31, 31, 31, 0.2);
    width: 30%;
    height: 101px;
    border-radius: 10px;
    margin: 0 4px;
    padding: 10px;
    text-align: center;
}

#icon-sky {
    position: absolute;
    top: 35%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 80px;
}

#current-sky {
    position: absolute;
    top: 75%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#temp {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: bold;
}

#temp-max-min {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.5rem;
    font-weight: lighter;
}

/* Segunda fila */

.info {
    width: 92%;
    height: 101px;
    margin: 20px auto;
    text-align: center;
}

.info-child {
    vertical-align: top;
    display: inline-block;
    background-color: rgba(31, 31, 31, 0.2);
    width: 30%;
    height: 101px;
    border-radius: 10px;
    margin: 0 4px;
    padding: 10px;
}

.icon-info {
    width: 30px;
    margin: 5px auto;
}

.dato-info {
    padding: 5px;
}

.desc-info {
    font-size: 0.8rem;
    font-weight: lighter;
}

/* Tercera fila */

.sun {
    width: 92%;
    height: 101px;
    margin: 20px auto;
    text-align: center;
}

.sun-child {
    vertical-align: top;
    display: inline-block;
    background-color: rgba(31, 31, 31, 0.2);
    width: 30%;
    height: 101px;
    border-radius: 10px;
    margin: 0 4px;
    padding: 10px;
}