* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

header {
    width: 100%;
    height: auto;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

main {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.tabs {
    /*background-color: ;*/
    display: table;
    width: 100%;
    height: 3.5em;
    text-align: center;
    padding: 12px;
}

.tabs-child {
    float: left;
}

#date {
    font-weight: normal;
    font-size: 0.5em;
    width: 50%;
}

#location {
    font-weight: bold;
    width: 50%;
    height: 36px;
}

#location-id {
    display:table-cell;
    vertical-align:middle;
}

.current-data {
    background-color: lightcoral;
    width: 20%;
}





/* 

.ulSeleccionar {
    list-style: none;
    width: 100%;
}

.liSeleccionar {
    display: inline-block;
    text-align: center;
}

.links {
    text-decoration: none;
    display: block;
    padding: 29px 15px;
}

*/