* {
    padding: 0;
    margin: 0;
    font-size: 14px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #000000;
}

header {
    width: 100%;
    height: auto;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

main {
    width: 100%;
    height: auto;
}

a, a:visited, a:link, a:active{
    text-decoration: none;
    color: #0DA0EA;
}

/* Tab de la app */

.tab {
    display: flex;
    width: 100%;
    height: 3.5rem;
    text-align: center;
    align-items: center;
}

#fecha {
    display: flex;
    font-weight: 200;
    font-size: 0.95rem;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#localidad {
    background-color: rgba(13, 159, 234, 0.2);
    display: flex;
    font-size: 4rem;
    font-weight: bold;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0px 0px 10px;
}

a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

hr {
    border-style: none;
    border-bottom: 1px solid white;
    width: 92%;
    margin: 0 auto;
}

/* Primera fila */

.grados {
    font-weight: lighter;
}

.grados-minmax {
    font-weight: lighter;
    font-size: 0.8rem;
}

.current {
    width: 92%;
    height: 101px;
    margin: 20px auto;
    text-align: center;
}

.current-child {
    position: relative;
    vertical-align: top;
    display: inline-block;
    background-color: rgba(170, 170, 170, 0.5);
    width: 30%;
    height: 101px;
    border-radius: 10px;
    margin: 0 4px;
    padding: 10px;
    text-align: center;
}

#icon-sky {
    position: absolute;
    top: 35%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 80px;
}

#current-sky {
    position: absolute;
    top: 75%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#temp {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 3rem;
    font-weight: bold;
}

#temp-max-min {
    color: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.5rem;
    font-weight: lighter;
}

/* Segunda fila */

.info {
    width: 92%;
    height: 101px;
    margin: 20px auto;
    text-align: center;
}

.info-child {
    vertical-align: top;
    display: inline-block;
    width: 30%;
    height: 101px;
    border-radius: 10px;
    margin: 0 4px;
    padding: 10px;
}

.icon-info {
    width: 25px;
    margin: 7.5px auto;
}

.dato-info {
    font-size: 0.9rem;
    padding: 5px;
}

.desc-info {
    display: flex;
    font-size: 0.7rem;
    font-weight: lighter;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/* Tercera fila */

.sun {
    width: 92%;
    height: 101px;
    margin: 20px auto;
    text-align: center;
}

.sun-child {
    vertical-align: top;
    display: inline-block;
    width: 30%;
    height: 101px;
    border-radius: 10px;
    margin: 0 4px;
    padding: 10px;
}

/* Cuarta fila */

.contenedor-swiper {
    width: 92%;
    height: 101px;
    margin: 20px auto;
}

.contenedor-swiper.child {
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 30%;
    height: 101px;
    border-radius: 10px;
    margin: 0 4px;
    padding: 10px;
    text-align: center;
}

.slide {
    background-color: rgba(170, 170, 170, 0.5);
    border-radius: 10px;
}

.icon-slide {
    display: flex;
    width: 50px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.dia-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}